Flask==2.2.2
gunicorn==20.1.0
flask-expects-json==1.7.0
python-decouple==3.7
Flask-Cors==3.0.10
feedparser==6.0.10
python-dateutil==2.8.2
beautifulsoup4==4.11.1
readability-lxml==0.8.1
webpreview==1.7.2
pydash==6.0.0
 feedgen==0.9.0
